@import "variables";
@import "mixins";

#navbar {
  background: @nav-bg;

  border-bottom: 2px solid @nav-border;

  text-align: center;

  h1 {
    padding: 14px 0 19px;

    font-size: 4.25rem;

    @media @phone {
      width: 100%;
    }
  }

  nav {
    .flex-around();

    width: 40.75%;
    .center();
    padding-bottom: 10px;

    @media @phone {
      width: 82%;
    }

    a {
      color: @nav-font;
      font-size: 1.75rem;
      text-decoration: none;
    }
  }
}